<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDV_server" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4880/DV_server.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDV_server" contract="Server.IDV_server"
                name="BasicHttpBinding_IDV_server" />
        </client>
    </system.serviceModel>
</configuration>